<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    <a href="../"><button>GO BACK</button></a>

    <div class="flex flex-col justify-center items-center h-100">

    <p class="font-bold">Student Registration Form</p><br>

    <form action="" method="post" class="flex flex-col justify-evenly h-60">

        {% csrf_token %}

    <input type="text" name="name" id="name" placeholder="NAME :"     class="border-2 border-black rounded px-2"><br><br>
            
    <input type="email" name="email" id="mail" placeholder="EMAIL :"    class="border-2 border-black rounded px-2"><br><br>
            
    <input type="age" name="age" id="age" placeholder="AGE :"       class="border-2 border-black rounded px-2"><br><br>

    <input type="tel" name="phone" id="phone" placeholder="PHONE NUMBER:"      class="border-2 border-black rounded px-2"><br><br>

    <!-- <select name="course" id="" >
        <option selected disabled>----Select your Course----</option>
        <option value="Python Full Stack">PYTHON FULL STACK</option>
        <option value="Mern Stack">MERK STACK</option>
        <option value="Flutter">FLUTTER</option>
    </select> -->


    <select name="course" id="" class="border-2 border-black rounded px-2">
        <option disabled selected>---select course---</option>
        {% for i in courses %}
        <option value="{{i}}">{{i.cname}}</option>
        {% endfor %}
    </select><br><br>


    <input type="submit" value="REGISTER" class="text-white bg-blue-500 rounded">
    </form>
    </div>
</html>
</body>